<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="12a0737e-5aa5-4d34-873d-aa4be3be976c" created="2.2.0" activeEnvironment="Default environment" name="Project 2" resourceRoot="" compositeProjectFormat="1.3" encryptionMode="Not encrypted" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="12a0737e-5aa5-4d34-873d-aa4be3be976cfileName">Project-2-readyapi-project</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:jmsConnectionContainer/><con:oAuth2ProfileContainer/><con:oAuth1ProfileContainer/><con:authRepository/><con:tags/></con:soapui-project>