<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="a63608a6-1a52-4a9b-9255-f6971d3f397c" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 1" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="a63608a6-1a52-4a9b-9255-f6971d3f397cfileName">REST-Service-1</con:setting></con:settings><con:definitionCache/><con:endpoints/></con:interface>